/* External CSS File */
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 70px auto 0 auto;
    font-family: 'Sacramento', cursive;
  }
  
  .top{
    background-color:white;
    margin:0;
    width:100%;
    height:1000px;
    padding:0;
    position: absolute;
    top:0;
    /*z-index: -1;*/
  }
  .top1
  {background-color:white;
    margin:0;
    width:100%;
    height:100vh;
    padding:0;
    position:absolute;
    top:0;
  }
  .top12
  {background-color:aquamarine;
    margin-left:10%;
    width:1200px;
    height:500px;
    padding:0;
    position:absolute;
    top:220px;
  }

  .top2
  {background-color:brown;
    margin:0;
    width:100%;
    height:275px;
    padding:0;
    position:absolute;
    top:725px;
    line-height:35px;
    align-content: center;
    color:white;
  }

  .top2 table
  {margin-left:25%;

  }
  
  .middle{
    background-color: royalblue;
    margin:0;
    width:100%;
    height:500px;
    padding:0;
    position: absolute;
    top:1000px;
  }
  .bottom{
    background-color: black;
    margin:0;
    width:100%;
    height:150px;
    padding:0;
    position: absolute;
    top:1500px;
  }
  .search-box{
  position: absolute;
  top: 350px;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:#2f3640;
  height:80px;/*40*/
  width:80px;
  transition: width 0.6s;
  border-radius: 80px;/*40*/
  padding: 10px;
  
  }
  .input-box
  {border: none;
  outline:none;
  background:none;
  float:left;
  padding:0;
  color:#fff;
  font-size:30px;/*16*/
  transition: 0.6s all;
  line-height: 80px;/*40*/
  width:0;
  }
  .btn
  {color:#a7f3e4;
  float: right;
  text-decoration:none;
  
  width:80px;/*40*/
  height:80px;/*40*/
  line-height:80px;/*40*/
  text-align:center;
  border-radius:50%;
  }
  .search-box:hover .input-box{
  width:400px;/*240*/
  padding:0 6px;
  }
  .search-box:hover .btn{
  background-color:#fff;
  }
  .search-box:hover{
    width:500px;
  
  }

  .meaning{
    position: fixed;
    right: 5%;
    bottom: 10vh;
    z-index: 99;
    background-color:#2f3640;
    height:80px;/*40*/
    width:80px;
    transition: width 0.6s;
    border-radius: 80px;/*40*/
    padding: 10px;
  
  }
  .meaning:hover{
    width:500px;
    
  }
  .meaning:hover .btn{
    background-color:#fff;
    }
  .meaning:hover .input-box{
      width:400px;/*240*/
      padding:0 6px;
      }
  #know{
    position: absolute;
    top:15px;
    right:5%;
    background-color: #4CAF50;
    border-radius: 25px;
    color: white;
    padding: 15px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
  }
  
  
  
  #know:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
 
  a{
    text-decoration: none;
  
  }
  #know right_arrow:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .algorithm{
  position: absolute;
  top:150px;
  
  background-color:rgb(240,240,240,0.9);
  font-size: x-large;
  text-align: center;
  height: 300px;
  position:absolute;
  top:220px;
  left: 20%;
  right: 20%;
  border-radius: 40px;
  padding: 30px 50px 30px 50px;
  
  }
  .check{
    
  }
  td{
    width: 350px;
    padding: 10px;
  }

  #below_search_bar{
    position: absolute;
    top: 500px;
    left:20%;
    right: 20%;
  }
.algo_submit{
  background-color: #536DFE;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  font-family: 'Merriweather', serif;
  padding: 10px;
}

.flip-container {
  perspective: 1000px;
  position: relative;
  top: 50px;
  background-color:transparent;
}
	
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateX(-180deg);
	}

.flip-container, .front, .back {
	width: 200px;
  height: 25vh; 

}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}


.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
  left: 0;
  border-radius: 84px;
}


.front {
	z-index: 2;
  transform: rotateX(0deg);

}


.back {
  transform: rotateX(180deg);
  
}

.flip-container, .flipper {
  transform-origin: 100% 12.5vh;
}
.contri_front{
  height: 25vh;
  background-color: green;
  color:white;
  font-size: 30px;
  border-radius: 35px;
}
.contri_back{
  height: 25vh;
  background-color: grey;
  color:white;
  font-size: 25px;
  border-radius: 35px;
  
}
.td_contri{
  width:100px;
  padding: 0 5px 0 5px;
}
.table_contri{
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  

}
#contri_text{
  font-family: 'Merriweather', serif;
  font-size: xx-large;
  color: white;
}
